<div class="header">
  
  <i class="fa fa-arrow-left back-btn" (click)="NavigateTo('home/menu')"></i>
  <h3>Leave Request</h3>
  
  <!-- <i class="fa fa-refresh refresh-btn" (click)="OnPageLoad()"></i> -->
</div>

<div class="container-fluid cont">
  <div class="row ">
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label for="FromDate">Request Date<span class="text-danger">*</span></label>
        <input id="FromDate" [(ngModel)]="RequestDate"  type="date" [disabled]="lr.LEAVE_REQUEST_ID!=''"class="form-control">
      </div>
      </div>
    <div class="col-6 col-sm-6">
      <div class="form-group">
        <label for="FromDate">From Date<span class="text-danger">*</span></label>
        <input id="FromDate" [(ngModel)]="fromdate"  type="date"  class="form-control">
      </div>
    </div>
    <div class="col-6 col-sm-6">
      <div class="form-group">
        <label for="ToDate">To Date<span class="text-danger">*</span></label>
        <input id="ToDate" [(ngModel)]="todate" type="date"   class="form-control">
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label>Select Leave Type<span class="text-danger">*</span></label>
        <select name="LeaveType" id="LeaveType" class="form-select"  [(ngModel)]="lr.P_LEAVE_TYPE_ID" >
          <option value="">Select Leave Type</option>
          <option *ngFor="let items of LeaveTypeList" [value]="items.LeaveTypeId"
           [disabled]="items.LeaveTypeId==2 && fromdate!=todate">{{items.LeaveType}}</option>
        </select>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="form-group">
        <label for="reason">Reason<span class="text-danger">*</span></label>
        <textarea name="reason" id="reason" [(ngModel)]="lr.LeaveReason" placeholder="Leave Reason" class="form-control" rows="2"></textarea>
      </div>
    </div>

 
    </div>
  
 

    <div class="row mt-3 mb-5">
      <div class="footer-buttons">
        <button class="btn btn-outline-success active w-50" (click)="Submit()" >Submit</button>
        <button class="btn btn-outline-danger active w-50" (click)="Clear()" >Clear</button>
    </div>
    </div>
     
  </div>


  <div class="container-fluid cont">
   
    <!-- Responsive table -->
    <div class="table-responsive" *ngIf="!ismobile && LeaveRequestList.length>0">
      <table class="table border-dark table-bordered table-hover small-text-table">
          <thead>
              <tr>
                  <th style="width: 4%; text-align: center;">Sl.No</th>
                  <th style="width: 10%; text-align: center;">Request No</th>
                  <th style="width: 10%; text-align: center;">Request Date</th>
                  <th style="width: 10%; text-align: center;">From Date</th>
                  <th style="width: 10%; text-align: center;">To Date</th>
                  <th style="width: 10%; text-align: center;">Reason</th>
                  <th style="width: 10%; text-align: center;">Status</th>
                  <th style="width: 10%; text-align: center;">Leave Type</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let items of LeaveRequestList; let i = index" >
                <!-- <span > -->
                  <td class="text-center">{{ i + 1 }}</td>
                  
                  <td >{{ items.LEAVE_REQ_NO }}</td>
                  <td >{{ items.LEAVE_REQ_DATE | date:'dd/MMM/yyyy' }}</td>
                  <td >{{ items.FROM_DATE | date: 'dd/MMM/yyyy'}}</td>
                  <td>{{ items.TO_DATE | date: 'dd/MMM/yyyy'}}</td>
                  <td >{{ items.LEAVE_REASON }}</td>
                  <td >{{ items.LEAVE_STATUS  }}</td>
                  <td >{{items.LEAVE_TYPE }}</td>
              
                <!-- </span> -->
                 <!-- Delete Button  -->
                  <td>

                    <button *ngIf="items.STATUS_ID == 1" class="btn btn-danger btn-sm" (click)="OnDeleteLeave(items)"><i class="fas fa-trash"></i></button>
                
                    <button *ngIf="items.STATUS_ID == 1" class="btn btn-outline-success m-1 btn-sm active" (click)="OnEditLeave(items)" ><i class="fa fa-pencil"></i></button>
                 
                </td>
              </tr>
          </tbody>
      </table>
    </div>
    
    <div class="row"*ngIf="ismobile">
      <div class="col-md-6 my-2" *ngFor="let items of LeaveRequestList; let i = index">
        <div class="card task-card">
          <div class="card-body" >
            <h5 class="card-title"></h5>
            <p class="card-text">
              
              <strong>Request No :</strong> {{ items.LEAVE_REQ_NO  }}<br>
              <!-- <strong>Sl.No :</strong> {{ items.CalledDescription }}<br> -->
              <strong>Request Date :</strong> {{ items.LEAVE_REQ_DATE| date: 'dd-MMM-yyyy' }}<br>
              
              <strong>From Date :</strong> {{ items.FROM_DATE | date: 'dd-MMM-yyyy' }}<br>
              <strong>To Date:</strong> {{ items.TO_DATE | date: 'dd-MMM-yyyy'}}<br>
              <strong>Reason :</strong> {{ items.LEAVE_REASON  }}<br>
              <strong>Status :</strong> {{ items.LEAVE_STATUS }}<br>
              <strong>LeaveType :</strong> {{items.LEAVE_TYPE }}<br>
          
            </p>

             <!-- Delete Button  -->
             <div  class="task-actions mt-3 text-center">
              <button class="btn btn-danger btn-sm" (click)="OnDeleteLeave(items)"><i class="fas fa-trash"></i></button>
           
              <button class="btn btn-outline-success m-1 btn-sm active" (click)="OnEditLeave(items)" ><i class="fa fa-pencil"></i></button>
            </div>
    
            <!-- Delete Button -->
            <!-- <div class="task-actions mt-3 text-center">
              <button class="btn btn-danger btn-sm" *ngIf="CheckWorkDateIsToday(items.WORK_DATE)" (click)="deleteTask(i, items)">
                <i class="fas fa-trash"></i> Delete
              </button>
            </div> -->
          </div>
        </div>
      </div>
    </div>



    <div class="row" *ngIf="LeaveRequestList.length==0">
      <div class="col-12 text-center">
        <h5>No Previous Leave Request Found!</h5>
      </div>
    </div>
  </div>


  
 
