


<div class="header">
  <i class="fa fa-arrow-left back-btn" (click)="NavigateTo('home/menu')"></i>
  <h3>
        Employee Work Report
  </h3>
</div>
<div class="container">
<!-- Search bar and button -->
<div class="table-controls mb-2">

<!-- <div class="col-3">
  <div class="form-group">
    <label for="emp">Employee</label>
    <select name="emp" class="form-select" id="emp" [(ngModel)]="Empid">
      <option [value]="0">Select Employee</option>
      <option [value]="item.Id" *ngFor="let item of Employeelist">{{item.Name}}</option>
    </select>

 </div>        
</div> -->
<!-- [(ngModel)]="DepartmentId" -->
<div class="row my-2">
  <div class="col-6 col-md-4"> 
    <!-- <select name="EmployeeId" id="EmployeeId" class="form-select" (change)="FilterByEmployee($event)">
      <option value="">All Employee</option>
      <option [value]="items.EmployeeName" *ngFor="let items of Employeelist;let i = index">{{items.EmployeeName}}</option>
    </select> -->

    <select name="DepartmentId" id="DepartmentId"  class="form-select" (change)="GetDepworkReport($event)" [(ngModel)]="DepartmentId">
    <option value="0">Select Department</option>
    <option  [value]="items.DepartmentId" *ngFor="let items of DepartmentList">{{items.DepartmentName}}</option>
  </select>
  </div>
<div class="col-2">
 
  <!-- <div class="form-group">
    
    <label for="empmobile">&nbsp;</label>
  <button  (click)="GetReport()" class="btn w-100 py-2 pb-1 btn-outline-success  active"> <i class="fa fa-paper-plane"></i> </button>
</div>   -->
</div>
</div>

</div>
<div class="row" *ngIf="ReportData.length==0">
  <div class="col-12 text-center">
    <h5>No Record Found!</h5>
  </div>
</div>
<!-- Responsive table -->
<div class="table-responsive" *ngIf="ReportData.length>0  && !ismobile">
  <table class="table border-dark table-bordered table-hover small-text-table">
    <thead>
      <tr>
        <th style="width: 4%; text-align: center;">Sl.No</th>
        <th style="width: 10%; text-align: center;">Department</th>
        <th style="width: 10%; text-align: center;">Employee</th>
        <th style="width: 10%; text-align: center;">Task Created</th>
        <th style="width: 10%; text-align: center;">Task Assigned</th>
        <th style="width: 10%; text-align: center;">Task Opened</th>
        <th style="width: 10%; text-align: center;">Work Progressing</th>
        <th style="width: 10%; text-align: center;">Task Paused</th>
        <th style="width: 10%; text-align: center;">Task Closed</th>
        <th style="width: 10%; text-align: center;">Development Completed</th>
       </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of ReportData; let i = index">
        <td class="text-center">{{ i + 1 }}</td>
        <td style="text-align: center;">{{ item.SectionName }}</td>
        <td style="text-align: center;">{{ item.EmpName }}</td>
        <td style="text-align: center;" class="cpoint" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="ViewReport(item,1)" [ngClass]="{'red-text': item.TaskCreated >0}">{{ item.TaskCreated }}</td>
        <td style="text-align: center;" class="cpoint" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="ViewReport(item,2)" [ngClass]="{'red-text': item.TaskAssigned >0}">{{ item.TaskAssigned }}</td>
        <td style="text-align: center;" class="cpoint" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="ViewReport(item,3)" [ngClass]="{'red-text': item.TaskOpened >0}">{{ item.TaskOpened }}</td>
        <td style="text-align: center;" class="cpoint"data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="ViewReport(item,7)" [ngClass]="{'red-text': item.WorkProgressing >0}">{{ item.WorkProgressing }}</td>
        <td style="text-align: center;" class="cpoint"data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="ViewReport(item,5)" [ngClass]="{'red-text': item.TaskPaused >0}">{{ item.TaskPaused }}</td>
        <td style="text-align: center;" class="cpoint" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="ViewReport(item,4)" [ngClass]="{'red-text': item.TaskClosed >0}">{{ item.TaskClosed }}</td>
        <td style="text-align: center;" class="cpoint"data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="ViewReport(item,6)" [ngClass]="{'red-text': item.DevelopmentCompleted >0}">{{ item.DevelopmentCompleted }}</td>
       
      </tr>
    </tbody>
  </table>
</div>

<div class="row" *ngIf="ReportData.length>0  && ismobile">
  <div class="col-md-6" *ngFor="let items of ReportData; let i = index">
    <div class="card task-card">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">
          <strong>Department :</strong> {{ items.SectionName }}<br>
          <strong>Employee :</strong> {{ items.EmpName }}<br>
          
          <strong>Task Created :</strong> <span class="cpoint" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="ViewReport(items,1)" [ngClass]="{'red-text': items.TaskCreated >0}"> {{ items.TaskCreated }}</span><br>
          <strong>Task Assigned :</strong>  <span class="cpoint" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="ViewReport(items,2)" [ngClass]="{'red-text': items.TaskAssigned >0}"> {{ items.TaskAssigned }}</span><br>
          <strong>Task Opened :</strong>  <span class="cpoint" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="ViewReport(items,3)" [ngClass]="{'red-text': items.TaskOpened >0}"> {{ items.TaskOpened }}</span><br>
          <strong>Work Progressing :  </strong> <span class="cpoint" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="ViewReport(items,7)" [ngClass]="{'red-text': items.WorkProgressing >0}"> {{ items.WorkProgressing }}</span><br>
          <strong>Task Paused :</strong> <span class="cpoint" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="ViewReport(items,5)" [ngClass]="{'red-text': items.TaskPaused >0}"> {{ items.TaskPaused }}</span><br>
          <strong>Task Closed :</strong>  <span class="cpoint" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="ViewReport(items,4)" [ngClass]="{'red-text': items.TaskClosed >0}"> {{ items.TaskClosed }}</span><br>
          <strong>Development Completed :</strong>  <span class="cpoint" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="ViewReport(items,6)" [ngClass]="{'red-text': items.DevelopmentCompleted >0}"> {{ items.DevelopmentCompleted }}</span><br>
         
        
        </p>

        <!-- Delete Button -->
        <!-- <div class="task-actions mt-3 text-center">
          <button class="btn btn-danger btn-sm" *ngIf="CheckWorkDateIsToday(items.WORK_DATE)" (click)="deleteTask(i, items)">
            <i class="fas fa-trash"></i> Delete
          </button>
        </div> -->
      </div>
    </div>
  </div>
</div>

    
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Work details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="row text-center" *ngIf="empworkDet.length==0">
        <div class="col-12 text-center">
            <label class="text-center fw-bolder">
              No Task Found
            </label>
        </div>  
        </div>
      <div class="modal-body">
       
      <!-- Task List -->
       
  <div class="row" *ngIf="empworkDet.length>0"> 

    <!-- Example Task Card -->
    <div class="col-12" *ngFor="let items of empworkDet;let i = index">
      <div class="card task-card">
        <div class="card-body">
          <h5 class="card-title">{{items.Subject}}</h5>
          <p class="card-text">
            <strong>Work Ref : </strong> {{items.WorkRefNo}}<br>
            <strong>Date : </strong> {{items.WorkDate | date:'dd/MMM/yyyy'}}<br>
            <strong>Client  : </strong> {{items.CustName}}<br>
            <strong>Project : </strong> {{items.ProjectName}}<br>
            <strong>Module : </strong> {{items.ModuleName}}<br>
            <strong>Call Type : </strong> {{items.CallType}}<br>
            <strong>Emergency  : </strong> <span> {{items.EmergencyType}} </span><br>
            <strong>Error Type : </strong> {{items.ErrorType}}<br>
            <strong> Task Status : </strong>{{items.WorkStatus}}<br>
            <strong>Created By : </strong> {{items.EmpName}}<br>
            
            <strong> Description : </strong>{{items.CalledDescription}}
          </p>
          <span class="task-status in-progress">{{items.WorkStatus}}</span>
        </div>
      </div>
    </div>

  </div>
      
        
        
      </div>
  
    </div>
  </div>
</div>





